<link rel="stylesheet" href="/css/text-responsive.css">
<footer id="contact" class="bg-dark text-white py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-1">
                <a href="tel:+5523544322" class="btn" style="color: white;">
                    <img src="./image/ico-telefone.png" alt="Telefone" class="img-fluid mb-4">
                </a>
            </div>
        
            <div class="col-md-4 mb-1">
                <a href="mailto:contact@espacoana.com" class="btn" style="color: white;">
                    <img src="./image/ico-email.png" alt="Email" class="img-fluid mb-4">
                </a>
            </div>
        
            <div class="col-md-4 mb-1">
                <a href="https://maps.google.com/maps?q=R.+Albuquerque+Fernandez,08132-001" class="btn" style="color: white;">
                    <img src="./image/ico-location.png" alt="Endereço" class="img-fluid mb-4">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-1">
                    <h5 class="text-lg text-md text-responsive">TELEFONE/WHATSAPP</h5>
                    <p class="text-md text-responsive">+55 2354-4322</p>
                    <p class="text-md text-responsive">+55 (11) 92354-4322</p>
                </a>
            </div>
        
            <div class="col-md-4 mb-1">
                    <h5 class="text-lg text-md text-responsive">E-MAIL</h5>
                    <p class="text-md text-responsive">contact@espacoana.com</p>
                    <p class="text-md text-responsive">office@espacoana.com</p>
                </a>
            </div>
        
            <div class="col-md-4 mb-1">
                    <h5 class="text-lg text-md text-responsive">ENDEREÇO</h5>
                    <p class="text-md text-responsive">R. Albuquerque Fernandez, 1350</p>
                    <p class="text-md text-responsive">08132-001</p>
                </a>
            </div>
        </div>
        <div class="row">
            <a href="/login" class="btn" style="color: #E0AAFF; ">Acessar Agenda</a> 
            <p> <img src="/image/copyright.png" alt=""> 2023 Espaço Ana. Todos os direitos reservados</p> 
        </div>
        
    </div> 
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</footer>