<div class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100 w-100">
    <a class="navbar-brand" href="/agendamento/agenda-dia"><img src="/image/logo2.png"> </a>
    <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-5 w-100"
      id="menu">
      <li class="bg-light mt-4 w-100">
        <a class="nav-link" href="/agendamento/admin-agendamentos"><img src="/image/ico-agendamento.png"> <span class="ms-1 d-none d-sm-inline">Agendamentos</span></a>
      </li>
      <li class="bg-light mt-4 w-100">
        <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle p-0">
          <a class="nav-link" href="/cliente/admin-clientes"><img src="/image/ico-clientes.png"> <span class="ms-1 d-none d-sm-inline">Clientes</span> </a>
      </li>
      <li class="bg-light mt-4 w-100">
        <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
          <a class="nav-link" href="/servico/admin-servicos"><img src="/image/ico-servicos.png"> <span class="ms-1 d-none d-sm-inline">Serviços</span> </a>
      </li>
    </ul>
    <div class="pb-4">
      <a href="/login/logout" style="color: black;">Sair</a>
    </div>
</div>